.about_section{
    height:auto;
    width: 100%;
}
.about_header{
    height: 70vh;
    padding-top: 90px;
    width: 100%;
    position: relative;
    background-color: #E8E6E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.about_hero_button{
    padding: 16px 20px;
    border-radius: 25px;
    border: none;
    margin-top: 30px;
    font-size: 1.1em;
    font-weight: 500;
    background-color: #51CA58;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.about_hero_button:active{
    box-shadow: none;
}
.about_two{
    height: 80vh;
    width: 100%;
    background-color: #E8E6E1;
 
 
}
.about_two_wrap{
    padding:0 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about_two_one{
    height:200px;
    width: 300px;
    background-color:  #FAF9F7;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about_two_two{
    height:200px;
    width: 300px;
    background-color:  #FAF9F7;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about_two_three{
    height:200px;
    width: 300px;
    background-color:  #FAF9F7;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}