.service_one{
    height:auto;
    padding-top: 120px;
}
.service_hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:60px;
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.service_hero_img{
    width:auto;
    height:400px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
.service_hero_text{
    display:flex;
    flex-direction: column;
    width:40%;
    margin-left: 60px;
}
.service_overview{
    height:70vh;
    background-color:  #C1F2C7;
}
.service_overview_wrap{
    margin:60px;
    padding-top: 60px;
}
.service_btn{
 background-color:  #51CA58;
padding: 12px 18px;
border-radius:25px;
font-size: 1.1em;
border: none;
margin-top: 20px;
font-weight: 500;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

.service_btn:active{
    box-shadow: none;
}
.service_brand{
    height: 80vh;
   padding-top: 60px;
    background-color: #E8E6E1;
    margin-left: 60px;

}
.service_brand_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.service_brand_text{
    padding: 60px;
}
.overview_wrap_one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 30px;

}
.overview_box_one{
    width:300px;
}
.overview_box_two{
    width:300px;
}
.overview_box_three{
    width:300px;
}
.overview_wrap_two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.overview_box_four{
    width:300px;
}
.service_ecommerce{
    height: 80vh;
    background-color: #E8E6E1;

}
.service_ecommerce_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.service_ecommerce_img{
    height: 500px;
    width:auto;
}

.service_custom{
    height: 80vh;
    background-color: #E8E6E1;
 
}
.service_custom_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.service_custom_text{
    width: 40%;
    display: flex;
    flex-direction: column;
   margin-left: 60px;
   margin-right: 20px;
}
.service_cms{
    height: auto;
    width: 100%;
    background-color: #D3CEC4;

    
}
.service_cms_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
}

.service_cms_img{
    height: 400px;
    width:auto;
}
.service_cms_text{
    width: 80%;
    display: flex;
    flex-direction: column;

}
.service_support{
height: 80vh;
width: auto;


}
.service_support_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.service_support_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
   
}
.service_analytics_img{
    height: 450px;
    width: auto;
}
.service_analytics{
    height: 80vh;
    background-color: #E8E6E1;

}
.service_analytics_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.service_analytics_text{
    width: 40%;
    display: flex;
    flex-direction: column;
   
}
.service_ecommerce_text{
    width: 40%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-device-width: 640px) {
    .service_hero{
        flex-direction: column;
        margin: 12px;
    }
    .service_hero_img{
        width: 100%;
        height:auto;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 0px;
    }
    .service_hero_text{
        display:flex;
        flex-direction: column;
        width:90%;
        margin-bottom: 20px;
        padding-top: 12px;
        margin: 20px auto;
    }

    .service_overview{
        height:auto;
        background-color:  #C1F2C7;
    }
    .service_overview_wrap{
        margin:20px;
        padding-top: 60px;
    }
    .overview_wrap_one{
        display: flex;
        flex-direction: column;
        
        padding-bottom: 20px;
        padding-top: 30px;
    
    }
    .overview_wrap_two{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        
       
    }
    .overview_box_one{
        width:350px;
    }
    .service_brand{
        height: auto;
       padding-top: 0px;
        background-color: #E8E6E1;
        margin-left: 0px;
    
    }
    .service_brand_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .service_brand_text{
        padding: 20px;
    }
    .service_brand_video{
        height: 250px !important;
        width: auto;
        margin-bottom: 30px;
    }
    .service_ecommerce{
        height: auto;
        background-color: #E8E6E1;
    
    }
    .service_ecommerce_wrap{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .service_ecommerce_img{
        height: 400px;
        width:auto;
    }
    .service_ecommerce_text{
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .service_custom{
        height: auto;
        background-color: #E8E6E1;
     
    }
    .service_custom_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .service_custom_text{
        width: 85%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
       margin-left: 0px;
       margin-right: 0px;
    }
    .service_custom_video{
        height: 250px !important;
        width: auto;
        margin-bottom: 30px;
    }

.service_cms{
    height: auto;
    width: 100%;
    background-color: #D3CEC4;

    
}
.service_cms_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.service_cms_img{
    height: 200px;
    margin-left: 60px;
    width:auto;
}
.service_cms_text{
    width: 80%;
    display: flex;
    flex-direction: column;

}

.service_support{
    height: auto;
    width: 100%;
    
    
    }
    .service_support_wrap{
        display: flex;
        flex-direction: column;
      
        justify-content: center;
    }
    .service_support_text{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-left: 20px;
       
    }
    .service_support_video{
        height: 350px !important;
        width: auto;
    }

.service_analytics_img{
    height: 400px;
    width: auto;
    padding-top: 20px;
}
.service_analytics{
    height: auto;
  

}
.service_analytics_wrap{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 90px;
    
}
.service_analytics_text{
    width: 85%;
    display: flex;
    flex-direction: column;
   
}



}